<pre style="background-color:#0a0e14;color:#b3b1ad">
<span style="color:#626a73;font-style:italic;">/**</span>
<span style="color:#626a73;font-style:italic;"> * </span><span style="color:#e6b673;font-style:italic;">SPDX-FileCopyrightText:</span><span style="color:#626a73;font-style:italic;"> 2020 Christoph Cullmann </span><span style="color:#ff8f40;font-weight:bold;">&lt;cullmann@kde.org&gt;</span>
<span style="color:#626a73;font-style:italic;"> * </span><span style="color:#e6b673;font-style:italic;">SPDX-License-Identifier:</span><span style="color:#e6b673;font-style:italic;"> </span><span style="color:#e6b673;font-style:italic;">MIT</span>
<span style="color:#626a73;font-style:italic;"> */</span>

<span style="color:#626a73;font-style:italic;">// </span><span style="color:#59c2ff;background-color:#173649;">BEGIN</span>
<span style="color:#f07178;">#include </span><span style="color:#c2d94c;">&lt;string&gt;</span>
<span style="color:#f07178;">#include </span><span style="color:#c2d94c;">&lt;QString&gt;</span>
<span style="color:#626a73;font-style:italic;">// </span><span style="color:#59c2ff;background-color:#173649;">END</span>

<span style="color:#626a73;font-style:italic;">/**</span>
<span style="color:#626a73;font-style:italic;"> * </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">TODO</span><span style="color:#626a73;font-style:italic;">: improve documentation</span>
<span style="color:#626a73;font-style:italic;"> * </span><span style="color:#e6b673;font-weight:bold;">@param</span><span style="color:#626a73;font-style:italic;"> </span><span style="color:#ffee99;font-weight:bold;">magicArgument</span><span style="color:#626a73;font-style:italic;"> some magic argument</span>
<span style="color:#626a73;font-style:italic;"> * </span><span style="color:#e6b673;font-weight:bold;">@return</span><span style="color:#626a73;font-style:italic;"> magic return value</span>
<span style="color:#626a73;font-style:italic;"> */</span>
<span style="color:#ff8f40;">int</span> main<span style="color:#f29668;">(</span><span style="color:#ff8f40;">uint64_t</span> magicArgument<span style="color:#f29668;">)</span>
<span style="color:#f29668;">{</span>
    <span style="color:#ff8f40;font-weight:bold;">if</span> <span style="color:#f29668;">(</span>magicArgument <span style="color:#f29668;">&gt;</span> <span style="color:#e6b450;">1</span><span style="color:#f29668;">)</span> <span style="color:#f29668;">{</span>
        <span style="color:#59c2ff;">const</span> <span style="color:#95e6cb;">std::string</span><span style="color:#f29668;"> </span>string <span style="color:#f29668;">=</span> <span style="color:#c2d94c;">&quot;source file: </span><span style="color:#95e6cb;">\&quot;</span><span style="color:#c2d94c;">&quot;</span> <span style="color:#39bae6;">__FILE__</span> <span style="color:#c2d94c;">&quot;</span><span style="color:#95e6cb;">\&quot;</span><span style="color:#c2d94c;">&quot;</span><span style="color:#f29668;">;</span>
        <span style="color:#59c2ff;">const</span> <span style="color:#59c2ff;font-weight:bold;">QString</span> qString<span style="color:#f29668;">(</span><span style="color:#59c2ff;font-weight:bold;">QStringLiteral</span><span style="color:#f29668;">(</span><span style="color:#c2d94c;">&quot;test&quot;</span><span style="color:#f29668;">))</span><span style="color:#f29668;">;</span>
        <span style="color:#ff8f40;font-weight:bold;">return</span> <span style="color:#ffb454;">qrand</span><span style="color:#f29668;">()</span><span style="color:#f29668;">;</span>
    <span style="color:#f29668;">}</span>

    <span style="color:#626a73;font-style:italic;">/* </span><span style="color:#ca9219;background-color:#451e1a;font-weight:bold;">BUG</span><span style="color:#626a73;font-style:italic;">: bogus integer constant inside next line */</span>
    <span style="color:#59c2ff;">const</span> <span style="color:#ff8f40;">double</span> g <span style="color:#f29668;">=</span> <span style="color:#e6b450;">1.1e12</span> <span style="color:#f29668;">*</span> <span style="color:#e6b450;">0b01'01'01'01</span> <span style="color:#f29668;">-</span> <span style="color:#e6b450;">43</span><span style="color:#ff3333;text-decoration:underline;">a</span> <span style="color:#f29668;">+</span> <span style="color:#e6b450;">0x11234</span> <span style="color:#f29668;">*</span> <span style="color:#e6b450;">0234</span><span style="color:#95e6cb;">ULL</span> <span style="color:#f29668;">-</span> <span style="color:#95e6cb;">'c'</span> <span style="color:#f29668;">*</span> <span style="color:#e6b450;">42</span><span style="color:#f29668;">;</span>
    <span style="color:#ff8f40;font-weight:bold;">return</span> g <span style="color:#f29668;">&gt;</span> <span style="color:#e6b450;">1.3</span><span style="color:#95e6cb;">f</span><span style="color:#f29668;">;</span>
<span style="color:#f29668;">}</span>
</pre>
